.weather-app-wrapper {
  border: 2px solid #596aca;
  margin: 20px auto;
  padding: 20px;
  /* max-width: 1200px;
  width: 70rem; */
  border-radius: 10px;
  background: #e0e9f1;
}
body {
  background: #aab0bb;
}
h1 {
  color: #42a5f5;
  text-align: center;
}
form {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: -20px;
}

.line {
  border-top: 4px solid #4d94ce;
  opacity: 60%;
}
.enterCity {
  border-color: #596aca;
  border-width: medium;
  border-style: solid;
}
.search,
.currentTemp {
  background: white;
  color: #596aca;
  border-color: #596aca;
  transition: all 150ms ease-in-out;
  border-width: medium;
  border-style: solid;
}
.search:hover,
.currentTemp:hover {
  cursor: pointer;
  background: #596aca;
  color: white;
}
.card-text {
  margin-bottom: 10px;
}
.today {
  text-align: center;
  width: 60%;
  /* width: 40rem; */
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  border-width: thick;
  border-color: #1ab2a8;
  color: #1ab2a8;
  font-size: 25px;
  padding: 10px 40px;
}
.current-date {
  color: #5a6275;
  font-style: italic;
  font-size: 12px;
  line-height: 1;
}
.current-date:first-letter {
  text-transform: capitalize;
}
.city-date-position {
  margin-top: 25px;
}

#current-temp,
.formatDegree {
  font-size: 30px;
}
.formatUnits {
  font-size: 10px;
  position: relative;
  top: -12px;
}

#farenheit {
  padding-left: 5px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
.weatherEmoji {
  font-size: 40px;
}
#forecast {
  color: #1ab2a8;
  background: #e0e9f1;
  text-align: center;
  padding-bottom: 0px;
}
.forecastCard {
  border: none;
}
.list-group-item-inner {
  list-style: none;
  margin: 0px 5px;
}
